<template>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">Additional Information</div>
                    <div class="panel-body">
                        <form class="form-horizontal" role="form" v-on:submit="updateUser">

                            <div class="form-group" v-bind:class="[submitErrors.salutation ? 'has-error' : '']">
                                <label for="name" class="col-md-4 control-label">Salutation</label>

                                <div class="col-md-3">
                                        <input id="name" type="text" class="form-control" name="salutation" value="" v-model="user.salutation" required autofocus>
                                            <span class="help-block" v-if="submitErrors.salutation">
                                        <strong>{{ submitErrors.salutation[0] }}</strong>
                                    </span>
                                </div>
                            </div>

                            <div class="form-group" v-bind:class="[submitErrors.f_name ? 'has-error' : '']">
                                <label for="f_name" class="col-md-4 control-label">First Name</label>

                                <div class="col-md-6">
                                    <input id="f_name" type="text" class="form-control" name="f_name" value="" v-model="user.f_name" required>
                                    <span class="help-block" v-if="submitErrors.f_name">
                                        <strong>{{ submitErrors.f_name[0] }}</strong>
                                    </span>
                                </div>
                            </div>

                            <div class="form-group" v-bind:class="[submitErrors.l_name ? 'has-error' : '']">
                                <label for="l_name" class="col-md-4 control-label">Last Name</label>

                                <div class="col-md-6">
                                    <input id="l_name" type="text" class="form-control" name="l_name" v-model="user.l_name" required>
                                    <span class="help-block" v-if="submitErrors.l_name">
                                        <strong>{{ submitErrors.l_name[0] }}</strong>
                                    </span>
                                </div>
                            </div>

                            <div class="form-group" v-bind:class="[submitErrors.phone_number ? 'has-error' : '']">
                                <label for="phone_number" class="col-md-4 control-label">Phone Number</label>

                                <div class="col-md-6">
                                    <input id="phone_number" type="text" class="form-control" name="phone_number" v-model="user.phone_number" required>
                                    <span class="help-block" v-if="submitErrors.phone_number">
                                        <strong>{{ submitErrors.phone_number[0] }}</strong>
                                    </span>
                                </div>
                            </div>

                            <div class="form-group" v-bind:class="[submitErrors.post_code ? 'has-error' : '']">
                                <label for="post_code" class="col-md-4 control-label">Post Code</label>

                                <div class="col-md-6">
                                    <input id="post_code" type="text" class="form-control" name="post_code" v-model="user.post_code" required>
                                    <span class="help-block" v-if="submitErrors.post_code">
                                        <strong>{{ submitErrors.post_code[0] }}</strong>
                                    </span>
                                </div>
                            </div>

                            <div class="form-group" v-bind:class="[submitErrors.house_number ? 'has-error' : '']">
                                <label for="house_number" class="col-md-4 control-label">House Number</label>

                                <div class="col-md-6">
                                    <input id="house_number" type="text" class="form-control" name="house_number" v-model="user.house_number" required>
                                    <span class="help-block" v-if="submitErrors.house_number">
                                        <strong>{{ submitErrors.house_number[0] }}</strong>
                                    </span>
                                </div>
                            </div>

                            <div class="form-group" v-bind:class="[submitErrors.dob ? 'has-error' : '']">
                                <label for="dob" class="col-md-4 control-label">DOB</label>

                                <div class="col-md-3">
                                    <input id="dob" type="text" class="form-control" name="dob" v-model="user.dob" required>
                                    <span class="help-block" v-if="submitErrors.dob">
                                        <strong>{{ submitErrors.dob[0] }}</strong>
                                    </span>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-6 col-md-offset-4">
                                    <button type="submit" class="btn btn-primary" v-bind:disabled="errors">
                                        Save Changes
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return{
                user: {
                    salutation:'',
                    f_name:'',
                    l_name:'',
                    phone_number: '',
                    post_code: '',
                    house_number: '',
                    dob: ''
                },
                submitErrors:{
                }
            }
        },
        methods:{
            updateUser: function(e){
                e.preventDefault();
                self = this;
                //user id
                var qry = this.$route.query;

                if(typeof qry.id !== 'undefined') {

                    this.$http.post('profile/update/'+qry.id, this.user).then(
                        function (data) {
                            this.submitErrors = {};
                            this.user = {};
                            this.$router.push({name: 'jobs',query:this.$route.query});
                        },
                        function (data) {
                            this.submitErrors = data.body;
                        }
                    );
                }
            }
        },
        computed:{
            //all inputs are required
            errors: function(){
                for(var key in this.user){
                    if( ! this.user[key]) return true;
                }
                return false;
            }
        }
    }
</script>