<template>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">Select Areas that you interested in</div>
                    <div class="panel-body">
                        <form class="form-horizontal" role="form" v-on:submit="setJobs">
                            <ul class="list-group">
                                <li v-for="job in jobs" class="list-group-item">
                                    <input type="checkbox" v-bind:value="job.id" v-model="selectedJobs">
                                    {{job.name}}
                                </li>
                            </ul>
                            <div class="form-group">
                                <div class="col-md-6 col-md-offset-4">
                                    <button type="submit" class="btn btn-primary" v-bind:disabled="errors">
                                        Save Changes
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return{
                jobs: {
                },
                selectedJobs: []
            }
        },
        created: function(){
            this.getJobs();
        },
        methods:{
            getJobs: function(){
                this.$http.get('profile/jobs').then(
                    function(response){
                        this.jobs = response.body;
                    }
                );
            },
            setJobs: function(e){
                e.preventDefault();

                //user id
                var qry = this.$route.query;

                if(typeof qry.id !== 'undefined') {

                    this.$http.post('profile/jobs/'+qry.id,{ids:this.selectedJobs}).then(
                        function (data) {
                            console.log(data);
                            this.submitErrors = {};
                            this.selectedJobs = {};
                            this.$router.push({name: 'experience',query:this.$route.query});
                        },
                        function (data) {
                            this.submitErrors = data.body;
                        }
                    );
                }
            }
        },
        computed:{
            //all inputs are required
            errors: function(){
                if(this.selectedJobs.length >=1){
                    return false;    }
                else{
                    return true;
                }
            }
        }
    }
</script>
