<template>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3>{{ notice.title }}</h3>
                        <p>
                            {{ notice.description }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return{
                notice: {
                    title: '',
                    description:''
                }
            }
        },
        created: function(){
            this.getDescription();
        },
        methods:{
            getDescription: function(){
                var routeName = this.$route.name;
                if(routeName==='activate-account'){
                    this.notice.title = 'Activate Account';
                    this.notice.description = 'Please visit your email and click on the link provided to activate your account. ' +
                        'Account activation is required to continue'
                }

            }
        }
    }
</script>