<template>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">Chart</div>
                    <div class="panel-body">
                        <highcharts :options="options" ref="highcharts"></highcharts>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

export default {
    data() {
        return{
            options: {
                chart: {
                    type: 'spline'
                },
                title: {
                    text: 'Weekly Retention Curves ',
                    x: -20 //center
                },
                subtitle: {
                    text: 'This chart is generated using sample_users model. It has fed with given data',
                    x: -20
                },
                xAxis: {
                    min:0,
                    max:100,
                    title:{
                        text: 'Step'
                    }
                },
                yAxis: {
                    min: 0,
                    max: 100,
                    labels:{
                        style:{
                            "font":"16px Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif"
                        },
                        format:'{value}%'
                    },
                    title: {
                        text: 'Percentage (%)'
                    },
                    plotLines: [{
                        value: 0,
                        width: 1,
                        color: '#808080'
                    }]
                },
                tooltip: {
                    valueSuffix: '°C'
                },
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'middle',
                    borderWidth: 0
                },
                series: [{
                    name: 'Tokyo',
                    data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6]
                }]
            }
        }
    },
    created: function(){
        this.$http.get('profile/chart').then(
            function(response){

                console.log(response.body.weeks);

                var seriesobj=[];

                $.each(response.body.weeks,function(index,value){
                    seriesobj.push({name:index+' Week',data:value});
                });

                this.options.series=seriesobj;

                console.log(this.options);

                this.chartRender();
            }
        );
    },
    methods: {
        chartRender: function(){
            var chart = this.$refs.highcharts.chart;
            chart.credits.update({
                style: {
                    color: '#' + (Math.random() * 0xffffff | 0).toString(16)
                }
            });
        }
    },
    mounted() {
    }
}
</script>
