<template>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">Register</div>
                    <div class="panel-body">
                        <form class="form-horizontal" role="form" v-on:submit="registerUser">

                            <!--<div class="form-group" v-bind:class="[submitErrors.name ? 'has-error' : '']">-->
                                <!--<label for="name" class="col-md-4 control-label">Name</label>-->

                                <!--<div class="col-md-6">-->
                                    <!--<input id="name" type="text" class="form-control" name="name" value="" v-model="user.name" required autofocus>-->
                                    <!--<span class="help-block" v-if="submitErrors.name">-->
                                        <!--<strong>{{ submitErrors.name[0] }}</strong>-->
                                    <!--</span>-->
                                <!--</div>-->
                            <!--</div>-->

                            <div class="form-group" v-bind:class="[submitErrors.email ? 'has-error' : '']">
                                <label for="email" class="col-md-4 control-label">E-Mail Address</label>

                                <div class="col-md-6">
                                    <input id="email" type="email" class="form-control" name="email" value="" v-model="user.email" required>
                                    <span class="help-block" v-if="submitErrors.email">
                                        <strong>{{ submitErrors.email[0] }}</strong>
                                    </span>
                                </div>
                            </div>

                            <div class="form-group" v-bind:class="[submitErrors.password ? 'has-error' : '']">
                                <label for="password" class="col-md-4 control-label">Password</label>

                                <div class="col-md-6">
                                    <input id="password" type="password" class="form-control" name="password" v-model="user.password" required>
                                    <span class="help-block" v-if="submitErrors.password">
                                        <strong>{{ submitErrors.password[0] }}</strong>
                                    </span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="password-confirm" class="col-md-4 control-label">Confirm Password</label>

                                <div class="col-md-6">
                                    <input id="password-confirm" type="password" class="form-control" name="password_confirmation" v-model="user.password_confirmation" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-6 col-md-offset-4">
                                    <button type="submit" class="btn btn-primary" v-bind:disabled="errors">
                                        Register
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return{
                user: {
                    email:'',
                    password:'',
                    password_confirmation:''
                },
                submitErrors:{
                }
            }
        },
        methods:{
            registerUser: function(e){
                console.log('encountered');
                e.preventDefault();
                this.$http.post('register',this.user).then(
                    function(data){
                        console.log(data);
                        this.submitErrors ={};
                        this.user = {};
                        this.$parent._router.push({name: 'activate-account'});
                    },
                    function(data){
                        this.submitErrors = data.body;
                    }
                );
            }
        },
        computed:{
            //all inputs are required
            errors: function(){
                for(var key in this.user){
                    if( ! this.user[key]) return true;
                }
                return false;
            }
        },
        mounted() {
//            console.log('Component mounted.')
        }
}
</script>
